
*{
    margin: 0;
    padding: 0;
}
.hero{
    background-color: rgb(231, 242, 251);
}
.heading{
    color: rgb(1, 1, 60);
}
.btn-bg{
    background-color: rgb(1, 1, 60);
}

.footer{
    background-color:rgb(1, 1, 60); 
    color: white;
    font-size: 14px;
    
}
ul{
    list-style: none;
}
.footer a{
 text-decoration: none !important;
 color: white;
}

/*....................................  */

 


.footer ul {  
    padding: 0; 
}



.input-group .form-control {
    border-right: 0;
}
.input-group .input-group-append .btn {

    position: absolute;
    right: 0;
    top: 0;
    height: 100%;

}
.input-group {
    position: relative;
}


.owl-carousel .item {
    padding: 15px;
    text-align: center;
}
.owl-carousel .item img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}



